
@import "./variables";
@import "./mixins/button";

.btn {
  --button-padding-x: #{$button-padding-x};
  --button-padding-y: #{$button-padding-y};
  --button-font-family: #{$button-font-family};
  --button-font-size: #{--button-font-size};
  --button-font-weight: #{$button-font-weight};
  --button-line-height: #{$button-line-height};
  --button-color: #{$body-font-color};
  --button-bg: transparent;
  --button-border-width: #{$button-border-width};
  --button-border-color: transparent;
  --button-disabled-opacity: #{$button-disabled-opacity};

  display: inline-block;
  padding: var(--button-padding-y) var(--button-padding-x);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  color: var(--button-color);
  background-color: var(--button-bg);
  text-align: center;
  text-decoration: none;
  white-space: nowarp;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: $button-border-radius;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    color: var(--button-hover-color);
    text-decoration: none;
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-border-color);
  }

  &:focus {
    color: var(--button-hover-color);
    border-color: var(--button-hover-border-color);
    outline: 0;
  }

  &:active,
  &.active {
    color: var(--button-active-color);
    background-color: var(--button-active-bg);
    background-image: null;
    border-color: var(--button-active-border-color);
  }

  &:disabled,
  &.disabled {
    color: var(--button-disabled-color);
    pointer-events: none;
    background-color: var(--button-disabled-bg);
    background-image: null;
    border-color: var(--button-disabled-border-color);
    opacity: var(--button-disabled-opacity);
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}