.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $header-padding-y $header-padding-x;
  background-color: $header-bg-color;
  height: $header-height;

  .header__logo,
  .header__profile {
    display: flex;
    align-items: center;
    width: 145px;
  }

  .header__logo {
    justify-content: flex-start;
  }

  .header__profile {
    justify-content: flex-end;
  }

  .header__nav > a {
    margin: $header-item-margin-y $header-item-margin-x;
    color: $header-font-color;
    text-decoration: none;

    &:hover,
    &.router-link-exact-active {
      color: $header-hover-color;
    }
  }
}
