.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 1rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 49;
  }
  
  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-body {
    display: block;
    padding: 0;
    border-radius: $modal-border-radius;
    z-index: 50;

    .modal-header {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0.5rem 1rem;
      border-top-left-radius: $modal-border-radius;
      border-top-right-radius: $modal-border-radius;
    }

    .model-text {
      padding: 1rem;
      background-color: $modal-bg-color;
      border-bottom-left-radius: $modal-border-radius;
      border-bottom-right-radius: $modal-border-radius;
    }
  }
}
