@import 'normalize';
@import 'functions';
@import 'variables';

// component import
@import 'button';
@import 'header';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  margin: $body-margin;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-font-color;
  background-color: $body-bg-color;
}
