@import 'variables';

@import 'button';
@import 'card';
@import 'form';
@import 'header';
@import 'icon';
@import 'modal';
@import 'notification';
@import 'paginator';
@import 'utilities';
@import 'wrapper';

* {
  font-family: $font-serif-base;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: $font-size-base;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  font-size: 1rem;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  background-color: $body-bg-color;
}

#app,
main {
  height: 100%;
}
