@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background:
    if(
      $color == white,
      shade-color($background, 15%),
      tint-color($background, 15%)
    ),
  $hover-border:
    if($color == white, shade-color($border, 20%), tint-color($border, 10%)),
  $hover-color: color-contrast($hover-background),
  $active-background:
    if(
      $color == white,
      shade-color($background, 20%),
      tint-color($background, 20%)
    ),
  $active-border:
    if($color == white, shade-color($border, 25%), tint-color($border, 10%)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  --button-color: #{$color};
  --button-bg: #{$background};
  --button-border-color: #{$border};
  --button-hover-color: #{$hover-color};
  --button-hover-bg: #{$hover-background};
  --button-hover-border-color: #{$hover-border};
  --button-active-color: #{$active-color};
  --button-active-bg: #{$active-background};
  --button-active-border-color: #{$active-border};
  --button-disabled-color: #{$disabled-color};
  --button-disabled-bg: #{$disabled-background};
  --button-disabled-border-color: #{$disabled-border};
}

@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --button-color: #{$color};
  --button-border-color: #{$color};
  --button-hover-color: #{$color-hover};
  --button-hover-bg: #{$active-background};
  --button-hover-border-color: #{$active-border};
  --button-active-color: #{$active-color};
  --button-active-bg: #{$active-background};
  --button-active-border-color: #{$active-border};
  --button-disabled-color: #{$color};
  --button-disabled-bg: transparent;
}
